.user-section {
  border: 1px solid red;
  background-color: #e5e5e5;
  //   margin-top: 50px;
  z-index: 10px;
  width: 85%;
}

.card-section {
  //   margin: 0 -5px;

  //   float: left;
  //   width: 25%;
  //   padding: 0 10px;
  //   padding-left: 40px;
  //   display: flex;
  //   flex-direction: row;

  //   position: absolute;
  //   width: 24px;
  //   height: 160px;
  //   left: 343px;
  //   top: 228px;
}

.header {
  margin-left: 100px;
}

.table-h {
  display: contents;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
