.detail-header {
  display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;

  .blacklist {
    margin-left: 400px;
    color: red;
    border: 1px solid bla\;;
  }

  .activate {
    margin-left: 10px;
  }
}
