// NEW STYLINGS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  //   text-decoration: none;
}

.data {
  background: rgb(5, 113, 77);
  //   background: url(Laptop.jpg);
  height: 100vh;
  margin-left: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  //   margin-top: 50px;
  //   overflow-y: visible;
  height: 100vh;
  width: 15%;
}

.nav-cont {
  //   display: none;
  //   background-color: #102951;
  background-color: white;
  //   border: 1px solid green;
  line-height: 80px;
  position: fixed;
  width: 100%;
  height: 84px;

  .search-content {
    margin-right: 690px;
    width: 22%;
    height: 35px;
    border-radius: 10px;
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    float: right;
    margin-top: 23px;

    .inputt {
      border: 1px solid #39cdcc;
      width: 100%;
      height: 35px;
      border-radius: 10px;
      padding-left: 18px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    .buttons {
      position: absolute;
      border: 1px solid #39cdcc;

      top: 23px;
      right: 645px;
      width: 4%;
      height: 35px;

      border-right: 10px;
      border-left: 30px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
      background-color: #39cdcc;
    }
  }

  .navb-log {
    color: white;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 30px;
  }
  label {
    display: none;
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: 600px;
    margin-left: 50px;
    cursor: pointer;
  }
}

// .search-content {
//   float: right;
//   border: 1px solid red;
//   margin-right: 700px;
// }

.nav-ul {
  //   border: 1px solid black;
  //   float: right;
  margin-left: 970px;
  margin-top: -85px;
  display: flex;
  //   padding: 5rem;
  //   justify-content: right;

  .avat-logos {
    // padding-right: 20px;
  }

  .avat-logos {
    // border: 1px solid blue;
    margin-left: 50px;
    border-radius: 100px;
    // width: 100px;
  }

  .ref-icon {
    margin-left: 50px;
  }

  p {
    margin-left: 5px;
  }

  .drops {
    // border: 1px solid red;
    margin-left: 1px;
  }
}

.nav-ul-li {
  display: none;
  margin: 0 10px;
  line-height: 80px;
}

nav ul li a {
  display: none;
  color: white;
  font-size: 20px;
  padding: 21px;
  font-weight: 600;
  background-color: rgb(55, 34, 246);
  border-radius: 7px;
}

nav ul li a:hover {
  background-color: rgb(161, 153, 228);
  color: white;
  transition: 0.3s;
}

.side-men {
  position: fixed;
  //   position: absolute;
  //   background-color: rgb(6, 3, 30);
  width: 200px;
  height: 100%;
  margin-top: 83px;
  //   overflow-y: scroll;
  //   border: 1px solid red;
}

.dashboard {
  margin-top: -15px;
}
.imga {
  display: none;
  width: 125px;
  height: 120px;
  border-radius: 50%;
  margin-top: 30px;
  border: 3px solid white;
}

.side-men center h2 {
  display: none;
  color: white;
}

.side-men a {
  display: block;
  line-height: 18px;
  transition: 0.5s;
  //   margin-top: 33px;
  //   color: white;
}

.side-men a:hover {
  background: rgb(20, 59, 165);
  padding-left: 20px;
}

.side-men span {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.side-men .imag {
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

.men-bar {
  float: right;
  margin-top: 20px;
  display: none;
  margin-right: 20px;
}

#men {
  display: none;
}

.side-men .logout {
  display: none;
}

@media (max-width: 850px) {
  .side-men a span {
    display: none;
  }

  .side-men center {
    display: none;
  }

  .side-men {
    width: 100px;
  }

  .side-men a .imag {
    // display: none;
    line-height: 80px;
    text-align: center;
    margin-left: 0;
    font-size: 35px;
    display: block;
  }

  .data {
    // background: rgb(5, 113, 77);
    //   background: url(Laptop.jpg);
    // height: 100vh;
    margin-left: 100px;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
}

@media (max-width: 650px) {
  .data {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .side-men {
    width: 100%;
    text-align: center;
    left: 100%;
    background-color: aquamarine;
    transition: all 0.5s;
  }

  .side-men a .imag {
    display: none;
  }

  .side-men a span {
    display: block;
  }

  .side-men .logout {
    display: block;
  }
  nav .men-bar {
    display: block;
  }

  #men:checked ~ .side-men {
    left: 0;
  }
}

// .navbar_container {
//   --color_nav_bg: rgb(181, 47, 47);
//   --color_nav_bg: rgb(30, 41, 59);
//   --color_nav_txt: rgb(100, 116, 139);
//   --color_nav_ctg: rgb(226, 232, 240);
//   --color_nav_active: rgb(85, 79, 232);
//   --color_nav_not_active: rgb(61, 74, 94);
//   --color_nav_active_bg: rgb(15, 23, 42);
//   --nav_width: 16rem;

//   background: var(--color_nav_bg);
//   height: 100vh;

//   padding: var(--padding-md) var(--padding-sm);
//   transition: transform 300ms ease-in-out;

//   @media screen and (max-width: 1024px) {
//     transform: translateX(-100%);
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 12;
//   }

//   @media screen and (max-width: 18rem) {
//     width: 100vw;
//   }
// }

// .navbar_mobile_active {
//   @media screen and (max-width: 1024px) {
//     transform: translateX(0);
//   }
// }

// .nav {
//   position: relative;
//     width: var(--nav_width);
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   -ms-overflow-style: none;
//   scrollbar-width: none;
//   transition: width linear 0.3s;

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

.contain {
  //   margin-top: 50px;
  //   overflow-y: scroll;
  height: 100vh;
  //   width: 15%;
}

.logo {
  padding: 0 0.35rem;
  font-size: 2.2rem;
  display: flex;
  .logo_icon {
    color: var(--color_nav_active);
  }

  .mobile_cancel_icon {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .logo_icon {
      display: none;
    }

    .mobile_cancel_icon {
      display: block;
      cursor: pointer;
      font-size: 2.2rem;
      padding: 0.2rem;
      color: var(--color_nav_active);
    }
  }
}

.menu_container {
  margin-top: var(--margin-lg);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.categories {
  color: var(--color_nav_txt);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: var(--margin-xxs);

  svg {
    font-size: 1rem;
  }
}

.second_category {
  margin-top: 3rem;
}

.li_navlink a {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--color_nav_ctg);
  transition: all ease-in-out 0.2s;

  .description {
    margin-left: 0.5rem;
    font-weight: 400;
    transition: opacity 200ms ease;
  }

  svg {
    font-size: 1.5rem;
    color: var(--color_nav_not_active);
    flex-shrink: 0;
  }

  &:hover {
    background: var(--color_nav_active_bg);
  }

  &:hover svg {
    color: var(--color_nav_active);
  }
}

.li_navlink .active {
  background: var(--color_nav_active_bg);

  svg {
    color: var(--color_nav_active);
  }
}

.btn_logout {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  transition: all ease-in-out 200ms;
  padding: 0.5rem 0.75rem 0 0.75rem;

  svg {
    font-size: 1.5rem;
    color: var(--color_nav_active);
    cursor: pointer;
    transform: scaleX(-1);
  }
}

.mobile_nav_background_active {
  width: 0;
  height: 100vh;
  transition: all ease-out 500ms;
  transition-delay: 300ms;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--nav_width) + var(--padding-md));
    width: calc(100vw - var(--nav_width) - var(--padding-md));
    background: rgba(0, 0, 0, 0.185);
    z-index: -1;
  }
}

//NAVIGATION SMALL
.nav_small {
  width: 3rem;

  .categories {
    padding: 0 1rem;
  }
  .description {
    opacity: 0;
  }

  .btn_logout {
    svg {
      transform: scaleX(1);
    }
  }
}
